{% extends "base.html" %}

{% block main %}
    {% include 'flash_messages.html' %}
    <h1>Secure Page</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer suscipit egestas eros, et consectetur magna sagittis aliquam. In eget scelerisque enim. 
    Fusce felis nisl, pharetra id interdum in, feugiat eget massa. Curabitur pretium eu lorem vitae semper. Nam dictum quam ex, sed porttitor leo bibendum ac. 
    Nam vitae ultrices mauris, at iaculis augue. Aliquam eget pulvinar augue. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque ullamcorper 
    vel sem sit amet elementum. Maecenas ac lorem eget urna tristique cursus vel at velit. Duis eleifend mollis sollicitudin. Sed rhoncus eu neque scelerisque 
    sodales. Morbi porta, lorem vitae maximus placerat, dolor sapien venenatis ante, sodales tincidunt lacus risus quis leo. Ut eget dolor sollicitudin, tempor 
    magna non, mollis eros.</p>
{% endblock %}